 code {
   font-size: 15px;
   padding: 2px 5px;
 }

 pre {
    background: var(--text) !important;
    max-width: 620px !important;
}

.wp-block-rss {
  margin: auto !important;
}

.wp-block-quote.is-style-large {
  display: block !important;
  margin: 3em auto !important;
}
