 a {
   text-decoration: underline;
   text-decoration-thickness: .15rem;
 }

 a:hover {
   text-decoration: underline;
   text-decoration-thickness: .15rem;
   text-decoration-style: dotted;
 }

 code {
   font-size: 15px;
 }
