body {
    font-family: var(--sans-font) !important;
}

.is-root-container.block-editor-block-list__layout {
  max-width: 40rem;
  margin: 4rem auto;
}

a,
a:hover {
  text-decoration: underline !important;
  text-decoration-color: var(--accent) !important;
  text-decoration-thickness: .15rem !important;
}

h2, h3 {
  margin-top: 4rem !important;
}

code {
  font-size: 15px;
  padding: 2px 5px;
 }

pre {
  background: var(--accent-bg) !important;
  max-width: 620px !important;
}

.notice,
.notice-blue,
.notice-red {
  background: none;
  border-right: none !important;
  border-left: none !important;
}

.wp-block-rss {
  margin: 2em auto !important;
  padding-left: 0 !important;
}

.wp-block-rss a {
  font-size: 1.2em !important;
  font-weight: bold !important;
}

.wp-block-quote,
.wp-block-quote.is-style-large {
  display: block !important;
  margin: 3em auto !important;
}

.wp-block-quote {
  border-left: none !important;
}

/* Make Gutenberd wide images work */
@media(min-width: 768px) {
  .wp-block-image.alignwide {
      margin-left: -80px !important;
      width: calc(100% + 160px) !important;
      max-width: calc(100% + 160px) !important;
  }
}
